<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="testData">
      <section name="data" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="user" value="" />
    <add key="key" value="" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <add key="appURL" value="https://www.flipkart.com/" />
    <add key="browserStackBuildName" value="Automation10" />
    <add key="TestingInLocalMachine" value="false" />
  </appSettings>

  <testData>
    <data>
      <add key="mobileName" value="Samsung Galaxy S10" />
      <add key="brand" value="SAMSUNG" />
      <add key="flipkartAssured" value="true" />
      <add key="sort" value="H-L" />
      <!--For sorting high to low add value is 'H-L' and for Low to high add value as 'L-H'-->
    </data>
  </testData>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>