<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrowserStackLocal" version="2.1.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="NUnit.Console" version="3.15.2" targetFramework="net472" />
  <package id="NUnit.ConsoleRunner" version="3.15.2" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.7.1" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net472" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net472" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.13400" targetFramework="net472" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>